= form_with(url: sessions_path, scope: :session, method: :post, id: 'login-form') do |f|
  %section
    =f.label :email, "Email: "
    =f.email_field :email
  %section
    =f.label :password, "Password: "
    =f.password_field :password

  = f.button("Login", type: 'submit')