.top-filters
  %span Sort By:
  %span
    = link_to 'Date', movies_path(order: 'date', dir: 'desc')
  - @reactions.each do |reaction|
    %span
      = link_to "#{reaction.name.pluralize.capitalize}", movies_path(order: reaction.name, dir: 'desc')

- @movies.each do |movie|
  = render partial: movie, locals: { current_user: current_user, reactions: @reactions }
