// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form {
  display: flex;
  flex-direction: column;
  padding: 5rem 25%;

  section {
    width: 50%;

    label {
      display: inline-block;
      width: 4.5rem;
    }

    input { width: 14rem; padding: .25rem .35rem }
  }

  button[type='submit'] {
    width: 50%;
    display: inline-block;
    color: #fff;
    border: 1px solid #5cad5c;
    background-color: #5cad5c;
    border-radius: 5px;
    padding: .35rem 0;
    margin: 0 auto;
  }

  section, input { margin: .65rem auto; }
}
