%header
  .title
    %h1 MovieRama
  .profile
    -# - byebug
    - if current_user
      = "Welcome #{ current_user.full_name }"
      =link_to "New Moview", new_movie_path, class: 'btn btn-new'
    - else
      =link_to 'Sign Up', signup_path, class: 'btn btn-signup'
      =link_to 'Login', new_session_path, class: 'btn btn-login'